<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="content/bootstrap.min.css" rel="stylesheet" />
    <link href="content/bootstrap-theme.css" rel="stylesheet" />

    <script src="scripts/underscore.min.js"></script>
    <script src="scripts/jquery-2.0.3.min.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/app.js"></script>
</head>
<body ng-controller="AppCtrl">
    <input type="text" ng-model="name" />
    <div>{{ name }}</div>

    <ul ng-repeat="city in cities">
        <li>{{city}}</li>
    </ul>

</body>
</html>
